.home {
  padding: 0px;
  margin: 0px;
  background-color: white;
}
.navlink-a {
  text-decoration: none;
  color: blue !important;
  margin: 0px !important;
  padding: 0px !important;
}
.navlink-a:hover {
  text-decoration: underline;
  color: black;
}
.navlink-col {
  border-right: 2px black solid;
  padding-right: 10px;
  
}
.navlink-col:last-child {
  border: none;
}
.main-cont {
  padding-left: 2rem;
  padding-right: 2rem;
  max-width: -webkit-fill-available;
  background-color: white;
}

.navActive:hover{
  text-decoration: underline !important;
}
.product-btn {
  width: 100%;
  background-color: white !important;
  color: green !important;
  margin: 0.3rem;
}
.product-btn:hover,
.share-btn:hover,
.download-btn:hover {
  background-color: green !important;
  color: white !important;
}
.product-btn i {
  color: black;
}
.spec {
  display: flex;
}
.download-btn {
  width: 70%;
  background-color: white !important;
  color: green !important;
}
.share-btn {
  width: 30%;
  background-color: white !important;
  color: green !important;
}
.second-nav {
    position: -webkit-sticky;
    position: sticky;
    display: flex;
    justify-content: center;
    top: 0;
    z-index: 10;

}

.accordion-items{
    margin: 1rem ;
}
tr {
    display: table-row;
    vertical-align:middle;
    border-color: inherit;
}
